.listContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,200px));
    justify-content: center;
    justify-items: center;
    gap: 20px;
    min-height: 100%;
    margin: 30px auto;
}

@media screen and (max-width: 770px) {
    .listContainer{
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    }
    
}