.loaderContainer{
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-primary);
    z-index: 998;
}

.loader{
    width: 6rem;
}

.column1{
    fill: var(--loader-color-1);
}

.column2{
    fill: var(--loader-color-2);
}

.column3{
    fill: var(--loader-color-3);
}