:root{
    --primary-color: rgb(0, 0, 0);
    --primary-color-hover: rgb(132, 132, 132);
    --secondary-color: rgb(132, 132, 132);
    --font-primary-color: rgb(0, 0, 0);
    --font-secondary-color: rgb(255, 255, 255);
    --background-color-primary: rgb(255, 255, 255);
}

/* REUSABLE CLASS */
.shopIcon{
    color: var(--primary-color);
    cursor:pointer;
}

.shopIcon:hover{
    color: var(--primary-color-hover);
}

html{
    font-size: 16px;
}