
.cartCounter{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    right: 0;
    top: -5px;
    background-color: var(--background-color-tertiary);
    margin: 0;
    border-radius: 50%;
    font-size: .8rem;
    font-weight: bold;
    color: var(--font-tertiary-color);
    visibility: hidden;
}

.cartCounter.active{
    visibility: visible;
}

.cartIconContainer{
    display: flex;
    position: relative;
}

.shopcartBodyItems{
    height: 80%;
}

.shopcartBodyActions{
    height: 20%;
}

.userControlsContainer{
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.userControlPerson, .userControlCart{
    font-size: 2.5rem;
    color: var(--icon-primary-color);
    transition: .2s;
    text-decoration: none;
}
    
.userControlPerson:hover, .userControlCart:hover{
    cursor: pointer;
    color: var(--icon-primary-color-hover)
}

.userLogoutLinks{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.1;
}

.userLogoutLinks a{
    text-decoration: none;
}

.userLogoutLinks li{
    color: var(--font-primary-color);
    cursor: pointer;
    transition: color .3s;
}

.userLogoutLinks  li:hover{
    color: var(--font-page-primary-color);
}

.userLogInName{
    width: min-content;
    max-width: 80px;
    margin: 0;
    line-height: .9;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

