.card{
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    height: 100%;
    min-height: 200px;
    max-height: 300px;
    border: 0;
    padding: 0 5px 5px 5px;
    transition: box-shadow .3s;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 0 15px rgb(194, 194, 194);;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    padding: 0 3%;
}

.card-body a{

    text-decoration: none;
}

.card-body > button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: .8rem;
}

.card-body > button > span {
    font-size: 1.3rem;
}

.card-title{
    text-align:justify;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap:nowrap ;
    font-size: 1rem;
    width: 100%;
    margin: 0;
    color: var(--font-primary-color);
}

.card-img-container{
    width: 100%;
    height: 50%;

}

.cardImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-price{
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--font-price-color);
    margin:.4rem 0;
}