.linkContainer{
    width: 100%;
}

.linkContainer > li{
    border-color: var(--secondary-color);
    padding: 1.2rem .4rem;
}

.linkContainer a{
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: var(--font-primary-color);
    cursor: pointer;
    transition: color .2s;
}

.linkContainer a:hover{
    color: var(--font-page-color-hover)
}

.linkContainer *{
    font-size: 1.1rem;
    line-height: 1;
    margin: 0;
}