
.form-container{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 430px;
    height: 85%;
    padding: 25px 0;
    box-shadow: 0 0 5px rgb(163, 163, 163) ;
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}

.loginBody{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-secondary);

}

.link{
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--font-secondary-color);
    transition: .5s;
    cursor: pointer; 
}

.linkLeft{
    align-items: end;
}

.linkRight{
    align-items: start;
}

.link::after{
    display: inline-block;;
    content: "";
    width: 0;
    height: .12rem;
    transition: .5s;
    background-color: var(--primary-color);
}

.link.active{
    color: var(--font-primary-color);
}

.linkRight.active{
    align-items: start;
}

.link.active::after{
    width: 100%;
}

.login-container{
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 350px;
    margin: 0 20px;
}

.login-header{
    display: flex ;
    justify-content: space-evenly;
    width: 100%;
    max-width: 430px;
    height: 15%;
}

.login-input , .register-input{
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.loginForm , .registerForm{
    width:  100%;
    position: absolute;
    transition: 1s;
    padding: 0 25px;
}

.loginForm{
    transform: translateX(-120%);

}

.loginForm.active , .registerForm.active{
    transform: translateX(0);
}

.login-submit{
    height: 2.5rem;
    font-size: 1rem;
}

.register-background{
    min-height: 500px;
}

.registerForm{
    transform: translateX(120%);
}




@media (max-width: 500px){
    .login-background , .register-background{
       max-height: 600px;
    }
}


