.checkoutBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 200px;
    min-height: 100vh;    
    background-color: var(--background-color-secondary);
}

.divsContainer{
    width: 100%;
    max-width: 800px;
    height: min-content;
    margin: 50px 0;
}

