.checkoutBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-secondary);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    height: min-content;
    margin: 100px 0;
}

