.cardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
}

.carouselContainer{
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
    margin: 0;
    padding: 0 15px;
}

.carouselControl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; 
    width: 100%;
    height: 50px;
}

.carouselControl  span{
    cursor: pointer;
    font-size: 1.7rem;
}

.carouselProductsContainer{
    width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

.carouselScrollContaniner{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 15px 0;
}

.carouselScrollContaniner::-webkit-scrollbar{
    display: none;
}

.controlArrow{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    line-height: 1;

}

.controlArrowContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--background-color-secondary-transparent);
    cursor: pointer;
    z-index: 10;
}

.controlArrowContainerLeft > span{
    width: 1.2rem;
}


.controlArrowContainerRight{
    left: auto;
    right: 15px;
}

.saleProductsCarousel{
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    transition: 1s;
}

.saleProductsContainer{
    min-width: 150px;
}

.saleProductsInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    max-height: 100%;
    font-size: 2rem;
}

.saleProductInfoImg{
    width: 100%;
}

@media screen and (min-width: 720px){
    .cardContainer{
        min-width: 50%;
    }
}