.filterOptionsContainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.7rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);    
}   

.filterOptionsContainer > select{
    width: 100%;
    font-size: 1rem;
    padding: .5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 100%;
}

.filterTile{
    font-size: 1rem;
    margin-bottom: .4rem ;
    font-weight: bold;
}