.category{
    font-size: 1rem;
    margin-right: .3rem;
}

.category::marker{
    content: none;
}

.category > a{
    text-decoration: none;

}

.indexContainer{
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
    background-color: var(--background-color-secondary-transparent);
}

.prevCategory::after{
    content: "chevron_right";
    font-size: .9rem;
    font-family: "Material Symbols Outlined";
    line-height: 1;
    margin-left: .3rem;
    vertical-align: middle;

}