
.update-product-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 1.5rem;
    font-size: .8rem;
    margin-left: .5rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity .6s ease;
}

.update-product-button.active{
    visibility: visible;
    opacity: 1;
}