:root{
    /* BACKGROUNDS COLORS */
    --background-color-primary: rgb(255, 255, 255);
    --background-color-secondary: rgba(246, 246, 246, 0.789);
    --background-color-tertiary: rgb(114, 114, 114);


    /* BUTTONS COLORS */
    --button-background-color: rgb(0, 51, 255);
    --button-font-color: rgb(255, 255, 255);
    --button-font-hover-color: rgb(175, 175, 175);
    --button-hover-color: rgb(1, 36, 173);
    --button-active-background-color: rgb(4, 26, 116);

    /* FONT COLORS */
    --font-primary-color: rgb(0, 0, 0);
    --font-secondary-color: rgb(120, 118, 118);
    --font-tertiary-color: rgb(227, 227, 227);
    --font-price-color: rgb(0, 105, 0);

    /* PRIMARY COLORS */
    --primary-color: rgb(0, 0, 0);
    --primary-color-hover: rgb(132, 132, 132);

    /* SECONDARY COLORS */
    --secondary-color: rgb(171, 171, 171);

    /* LOADER COLORS */
    --loader-color-1: rgb(255, 150, 150);
    --loader-color-2: rgb(227, 227, 227);
    --loader-color-3: rgb(108, 105, 194);
}

/* RESET */
*,
*::after,
*::before{
    box-sizing: border-box;
}



/*   */
html{
    font-size: 16px;
}

body{
    min-width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

/* SIZING CLASS */

.vwh-100{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.wh-100{
    width: 100% ;
    height: 100%;
}

/* BUTTONS */
.button-color-primary{
    background-color:var(--button-background-color);
    color: var(--button-font-color);
    transition: .2s;
}

.button-color-primary:hover{
    background-color: var(--button-hover-color);
    color: var(--button-font-hover-color);
}

.button-color-primary:active{
    background-color: var(--button-active-background-color) !important;
    color: var(--button-font-hover-color) !important;
}

/* PRODUCT LINKS */

.product-link{
    text-decoration: none;
}


/* ICONS */
.shopIcon{
    color: var(--primary-color);
    cursor:pointer;
}

.shopIcon:hover{
    color: var(--primary-color-hover);
}

