.icon{
    width: 30px;
}

.iconContainer > a{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 15px 0;
    cursor: pointer;
    text-decoration: none;
}

.iconContainer p{
    width: 80px;
    font-size: 1rem;
    margin: 0;
    color: var(--font-primary-color);
}
