.icon{
    width: 30px;
}

.iconContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 15px 0;
    cursor: pointer
}

.iconContainer > p{
    width: 80px;
    font-size: 1rem;
    margin: 0
};
