.card{
    width: 100%;
    min-width: 150px;
    max-width: 200px;
    height: 100%;
    min-height: 230px;
    max-height: 300px;
    border: 0;
    transition: box-shadow .3s;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 0 15px rgb(194, 194, 194);;
}

.cardBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    padding: 0 3%;
}

.cardBody a{
    text-decoration: none;
}

.cardBody > button{
    font-size: .8rem;
}

.cardTitle{
    text-align:justify;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap:nowrap ;
    font-size: 1.3rem;
    width: 100%;
    color: var(--font-primary-color);
}

.cardImgContainer{
    width: 100%;
    height: 50%;
}

.cardImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.oldPrice{
    position: relative;
    width: min-content;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 5px;
    color: var(--font-primary-color);
}

.oldPrice::before{
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 1.5px;
    top: 50%;
    background-color: rgb(255, 94, 94);
    transform: rotateZ(-8deg)
}

.newPrice{
    font-weight: 500;
    font-size: 1rem;
    color: var(--font-price-color);
}