.imgContainer > img{
    width: 100%;
    height: 100%;
    display: block;
}

.imgContainer{
    max-height: 100%;
}

.productContainer{
    width: 100%;
    height: min-content;
    margin: 0;
}

.productImg{
    width: 100%;
    max-width: 50px;
    height: auto;
}

.productPrice{
    color: var(--font-price-color);
}

.productTitle{
    color: var(--font-primary-color);
    margin-bottom: .2rem ;
    line-height: 1.2rem;
}

.updateProductButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 1.5rem;
    font-size: .8rem;
    margin-left: .5rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity .6s ease;
}

.updateProductButton.active{
    visibility: visible;
    opacity: 1;
}