.categoriesDropdown{
    font-size: 1.1rem;
    padding: .5rem 0 !important;
}

.navbarImg{
    max-height: 70px;
}

@media screen and (min-width: 770px) {
    .dropdownMenu{
        min-width: 300px;
    }
    
}